# Homework Assignment 1
### [The Art of Analyzing Big Data - The Data Scientist’s Toolbox](https://www.ise.bgu.ac.il/labs/fire/lectures.html)
#### By Dr. Michael Fire

For this homework you will need to write code that analyzes real-world datasets. The code needs to be written in Python using the [sqlite3](https://docs.python.org/2/library/sqlite3.html) package. 

**Please note:** You need to answer only the questions that match your ID first digit.

# 1. Babies Names Dataset (35pt)

**Task 1 (for everyone):** Write a code that uses the  [**babies names dataset** ](https://www.kaggle.com/kaggle/us-baby-names?select=NationalNames.csv) (use NationalNames.csv) and creates a table named (Names) with the dataset data and the following columns: 'State', 'Gender', 'Name', 'Count' , and 'Year' (5pt)
**Bonus:** Load the data using a Batch INSERT SQL Query (2pt)

In [ ]:
!pip install kaggle
!mkdir /root/.kaggle/

import json
import os

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"danasror","key":"bacf4386b2ae522ce21a4595b76005d6"}
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

# searching for the dataset
!kaggle datasets list -s baby

# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/us-baby-name

# download the dataset from Kaggle and unzip it
!kaggle datasets download kaggle/us-baby-names -f database.sqlite -p ./datasets/us-baby-name/database.sqlite
!chdir ./datasets/us-baby-name/database.sqlite/
!unzip ./datasets/us-baby-name/database.sqlite/*.zip  -d ./datasets/us-baby-name/database.sqlite

# download the NationalNames.csv file 
!kaggle datasets download kaggle/us-baby-names -f NationalNames.csv -p ./datasets/us-baby-name/NationalNames
!chdir ./datasets/us-baby-name/NationalNames/
!unzip ./datasets/us-baby-name/NationalNames/*.zip  -d ./datasets/us-baby-name/NationalNames

# download the StateNames.csv file 
!kaggle datasets download kaggle/us-baby-names -f StateNames.csv -p ./datasets/us-baby-name/StateNames
!chdir ./datasets/us-baby-name/StateNames/
!unzip ./datasets/us-baby-name/StateNames/*.zip  -d ./datasets/us-baby-name/StateNames

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
ref                                                      title                                size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------  ----------------------------------  -----  -------------------  -------------  ---------  ---------------
datasets/kaggle/us-baby-names                            US Baby Names                       173MB  2017-11-21 22:18:15          27935        312  0.5882353
datasets/ironicninja/baby-names                          Baby Names                            5MB  2021-02-09 16:21:40            292          9  0.88235295
datasets/haezer/french-baby-names                        French Baby Names                    18MB  2020-04-07 16:32:38            335         13  0.88235295
datasets/new-york-city/nyc-baby-names                    NYC Baby Names                      136KB  2017-09-08 20:04:20            694         10  0.7058824
datasets/roopalik/amazon-baby-dataset                    Amazon baby dataset                  18MB  2017-02-01 21:01:16            834         15  0.5
datasets/prokaggler/baby-products-images                 baby products images                114MB  2020-10-24 10:09:45             84          8  0.7058824
datasets/samrat77/baby-names-dataset                     Baby Names DataSet                   85KB  2019-03-21 06:21:34            538         10  0.5882353
datasets/fanbyprinciple/indian-male-baby-names           Indian Male baby names               69KB  2021-06-19 04:45:32             58          7  0.9411765
datasets/darinhawley/us-top-1000-baby-names-18802020     US Top 1000 Baby Names 1880-2020      2MB  2021-10-27 19:10:27            243         16  0.88235295
datasets/ytmytm/babyfeeds                                Baby girl breast feeds               41KB  2019-07-14 18:31:46            122          5  0.9411765
datasets/zerryberry/us-baby-names                        US baby names                         7MB  2020-09-22 00:48:56             58          3  0.875
datasets/new-york-city/nyc-most-popular-baby-names       NYC Most Popular Baby Names         176KB  2021-01-01 19:58:02            598         13  0.7941176
datasets/prashant111/most-popular-baby-names-in-nyc      Most Popular Baby Names in NYC       86KB  2020-03-15 07:26:17             96         11  0.5294118
datasets/sameersmahajan/reviews-of-amazon-baby-products  Reviews of Amazon Baby Products      29MB  2019-02-13 10:55:33            788         13  0.1764706
datasets/cocowaffle/baby-photos                          Baby Photos                         115KB  2017-04-11 18:18:23            428          2  0.75
datasets/netanel246/jewish-baby-names                    Jewish Baby Names                     4KB  2017-05-07 20:40:09            137          2  0.64705884
datasets/hassenmorad/us-state-baby-names                 US State Baby Names                  41MB  2018-09-14 18:25:40            158          3  0.5
datasets/ayushigaur/amazon-product-reviews               Amazon Product Reviews               28MB  2020-03-11 06:28:09            401          6  1.0
datasets/mathurinache/femalebabynames                    female baby names                     2KB  2020-09-03 19:06:47             20          2  0.5882353
datasets/hassenmorad/us-national-baby-names-18802017     US National Baby Names (1880-2017)    8MB  2018-09-14 17:35:52            134          3  0.47058824
Downloading database.sqlite.zip to ./datasets/us-baby-name/database.sqlite
 93% 122M/131M [00:01<00:00, 93.9MB/s]
100% 131M/131M [00:01<00:00, 96.0MB/s]
/bin/bash: chdir: command not found
Archive:  ./datasets/us-baby-name/database.sqlite/database.sqlite.zip
  inflating: ./datasets/us-baby-name/database.sqlite/database.sqlite
Downloading NationalNames.csv.zip to ./datasets/us-baby-name/NationalNames
 52% 6.00M/11.5M [00:00<00:00, 61.3MB/s]
100% 11.5M/11.5M [00:00<00:00, 56.5MB/s]
/bin/bash: chdir: command not found
Archive:  ./datasets/us-baby-name/NationalNames/NationalNames.csv.zip
  inflating: ./datasets/us-baby-name/NationalNames/NationalNames.csv
Downloading StateNames.csv.zip to ./datasets/us-baby-name/StateNames
 30% 9.00M/30.5M [00:00<00:00, 54.7MB/s]
100% 30.5M/30.5M [00:00<00:00, 124MB/s]
/bin/bash: chdir: command not found
Archive:  ./datasets/us-baby-name/StateNames/StateNames.csv.zip
  inflating: ./datasets/us-baby-name/StateNames/StateNames.csv

In [ ]:
!unzip ./datasets/us-baby-name/database.sqlite/*.zip  -d ./datasets/us-baby-name/database.sqlite

Archive:  ./datasets/us-baby-name/database.sqlite/database.sqlite.zip
replace ./datasets/us-baby-name/database.sqlite/database.sqlite? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./datasets/us-baby-name/database.sqlite/database.sqlite

In [ ]:
import sqlite3
import pandas as pd

%matplotlib inline
CSV_PATH = './datasets/us-baby-name/NationalNames/NationalNames.csv'
CSV_PATH_STATE_NAMES = './datasets/us-baby-name/StateNames/StateNames.csv'
DB_PATH = './datasets/us-baby-name/database.sqlite'

# Create the dataframe
df = pd.read_csv(CSV_PATH_STATE_NAMES)
df.drop(columns=["Id"],inplace=True)

conn = sqlite3.connect(f'{DB_PATH}/database.sqlite') # connecting to the database
df.to_sql(name='Names', con=conn)

In [ ]:
c = conn.cursor() # creating a cursor object
print("The number names is: %s" % c.execute("SELECT count(*) FROM Names" ).fetchone())
c.close() # close the cursor

The number names is: 5647426

**Task 2 (for everyone):** Write a query that returns the statistics for the name Mary (5pt). Use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run (5pt). **Bonus:** [Create an index](https://www.w3schools.com/sql/sql_create_index.asp)  on the _Name_ column and use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run with the index (5pt)

In [ ]:
import timeit
 
conn = sqlite3.connect(f'{DB_PATH}/database.sqlite') # connecting to the database
c = conn.cursor() # creating a cursor object
start = timeit.default_timer()
print("Number of Mary :", c.execute("SELECT COUNT (*) from Names WHERE Name = 'Mary'").fetchone()[0])
print("The time is :", timeit.default_timer() - start)
c.close() # close the cursor

Number of Mary : 6371
The time is : 0.5510894789999838

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 4 +1**) </span>

In [ ]:
# which question to answer - put your ID number and run the code 
your_id  = "204591424"
q = int(your_id) % 4 + 1
print("You need to answer question number %s" % q)

You need to answer question number 1

***Question 1:*** Write a function that returns how many babies were born in a given state in a given year.
Use it to calculate the number of babies born in TX in 1986 (10pt)

In [ ]:
def get_num_of_babies(state,year):
  conn = sqlite3.connect(f'{DB_PATH}/database.sqlite') # connecting to the database
  c = conn.cursor() # creating a cursor object
  res = c.execute("SELECT COUNT (*) from Names WHERE State = '"+state+"' and Year ='"+str(year)+"'").fetchone()[0]
  print(res)
  c.close() # close the cursor


get_num_of_babies('TX',1986)

3655

***Question 2:*** Write a function that returns how many female babies were born between a given range of years.
Use it to calculate how many babies were born between 1988 and 1995  (10pt)

**Question 3:** Write a function that returns the most common female name in a given state. Use it to calculate the most common female name in Wasington in 1987 (10pt)

**Question 4:** Write a function that returns how many male babies named _Robert where born in a given state in a given year. Use it to find the state in which the highest number of babies _Robert_ where born in 2010 (10pt)

**Question (for everyone):** For the state of CA write code that calculates the second most popular female/male names in each decade (10pt). **Bonus**: Visualize it somehow using Matplotlib (5pt)

# 2. Flavors of Cacao Dataset (15pt)

Using the [Flavors of Cacao](https://www.kaggle.com/rombikuboktaeder/choco-flavors) dataset, answer the following questions:

**Question 1:** Write a function that returns the number of bars manufactured where the bars' BroadBean Origin is a given country. Use the function to calculate the number of bars where BroadBean Origin is 'Fiji' (15pt)

In [ ]:
!pip install pony

Collecting pony
  Downloading pony-0.7.16-py3-none-any.whl (313 kB)
     |████████████████████████████████| 313 kB 7.5 MB/s
Installing collected packages: pony
Successfully installed pony-0.7.16

In [ ]:
!pip install kaggle
!mkdir /root/.kaggle/

from pony.orm import *
import json
import os


#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"danasror","key":"bacf4386b2ae522ce21a4595b76005d6"}
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

# searching for the dataset
!kaggle datasets list -s choco_flavors

# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/choco_flavors

# download the dataset from Kaggle and unzip it
!kaggle datasets download rombikuboktaeder/choco-flavors -p ./datasets/choco-flavors/
!unzip ./datasets/choco-flavors/choco-flavors.zip -d ./datasets/choco-flavors/

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
ref                                      title          size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------  -------------  ----  -------------------  -------------  ---------  ---------------
datasets/rombikuboktaeder/choco-flavors  choco_flavors  30KB  2018-04-01 04:36:29           1615          4  0.23529412
Downloading choco-flavors.zip to ./datasets/choco-flavors
  0% 0.00/30.3k [00:00<?, ?B/s]
100% 30.3k/30.3k [00:00<00:00, 5.50MB/s]
Archive:  ./datasets/choco-flavors/choco-flavors.zip
  inflating: ./datasets/choco-flavors/flavors_of_cacao.csv

In [ ]:
# Creating a new database
db = Database()
db.bind(provider='sqlite', filename='/content/datasets/choco-flavors/choco-flavors.pony.db', create_db=True)

class ChocoFlavor(db.Entity):
    Company = Optional(str)
    BeanOrigin = Required(str)
    REF = Required(int)
    ReviewDate = Required(int)
    CocoaPrecent = Required(str)
    Location = Required(str)
    Rating = Required(float)
    BeanType = Optional(str)
    BroadBeanOrigin = Optional(str)
     
#set_sql_debug(True) # helps to see what SQL commands are running
db.generate_mapping(create_tables=True) # create tables

# use the Pandas package to insert data into these table:

In [ ]:
import pandas
import numpy as np

# pandas can find csv inside the zip itself
df = pandas.read_csv("./datasets/choco-flavors/choco-flavors.zip")
df = df.replace(np.nan, '', regex=True)

for idx, row in df.iterrows():
    ChocoFlavor(
            Company=row['Company\xa0\n(Maker-if known)'],
            BeanOrigin=row['Specific Bean Origin\nor Bar Name'],
            REF=row['REF'],
            ReviewDate=row['Review\nDate'],
            CocoaPrecent=row['Cocoa\nPercent'],
            Location=row['Company\nLocation'],
            Rating=row['Rating'],
            BeanType=row['Bean\nType'],
            BroadBeanOrigin=row['Broad Bean\nOrigin']
    )
show(ChocoFlavor)
commit()

class ChocoFlavor(Entity):
    id = PrimaryKey(int, auto=True)
    Company = Optional(str, default='')
    BeanOrigin = Required(str)
    REF = Required(int)
    ReviewDate = Required(int)
    CocoaPrecent = Required(str)
    Location = Required(str)
    Rating = Required(float)
    BeanType = Optional(str, default='')
    BroadBeanOrigin = Optional(str, default='')

In [ ]:
def number_of_bars_manufactured(broadBeanOrigin):
  lst = list(select(row for row in ChocoFlavor if row.BroadBeanOrigin  == broadBeanOrigin))
  return len(lst)
  return lst

print(number_of_bars_manufactured("Fiji"))

8

**Question 2:** Write a function that returns the maximal and average cocoa percentage in a bar manufactured by a company in a specific country. Use the function to calculate the minimal and average cocoa percentage in bars manufactured by a Swiss company (15pt).

**Question 3:** Calculate the second most common bean type(s) and the most rare bean type(s) (15
pt)

**Question 4:** Calculate the number of reviews and the average rating in each year. Calculate the number of reviews and the average rating of each company in each year (15pt)

# 3. Kickstarter Projects Dataset (25pt)

Using the [Kickstarter Projects Dataset](https://www.kaggle.com/kemical/kickstarter-projects#ks-projects-201801.csv), answer the following questions:

**Task 1 (for everyone):** Load the dataset to SQLite DB using [PonyORM](https://ponyorm.org) (10pt)

In [ ]:
!kaggle datasets list -s kickstarter-projects
!kaggle datasets download kemical/kickstarter-projects -p ./datasets/kickstarter-projects/
!unzip ./datasets/kickstarter-projects/*.zip  -d ./datasets/kickstarter-projects/

ref                                                                         title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------------------  --------------------------------------------------  ----  -------------------  -------------  ---------  ---------------
datasets/kemical/kickstarter-projects                                       Kickstarter Projects                                37MB  2018-02-08 09:02:30          60704       1491  0.7941176
datasets/codename007/funding-successful-projects                            Funding Successful Projects on Kickstarter          20MB  2017-06-20 17:37:38           3147        115  0.88235295
datasets/toshimelonhead/400000-kickstarter-projects                         400,000 Kickstarter Projects                          0B  2019-07-23 01:23:31            351          8  0.7352941
datasets/uysalah/archived-kickstarter-projects                              Archived Kickstarter Projects                        1MB  2019-05-10 04:33:22            245          1  0.7647059
datasets/ekojsalim/kickstarter-projects-kasdd                               Kickstarter Projects - KASDD                        20MB  2021-12-26 03:43:41              2          0  0.29411766
datasets/alonsopuente/kickstarter-projects-comments                         Kickstarter Projects Comments                       63MB  2021-01-04 15:43:53             96          0  0.23529412
datasets/amirhoseinabbasi/kickstarter-10000-projects-attributes-risk-texts  Kickstarter 10000 projects attributes + risk texts   6MB  2021-10-26 08:46:39             30          1  0.1764706
datasets/abhisingh007224/kickstarter-project-success-prediction             Kickstarter project success prediction               3MB  2022-03-16 05:44:28              1          0  0.29411766
Downloading kickstarter-projects.zip to ./datasets/kickstarter-projects
 68% 25.0M/36.8M [00:00<00:00, 90.6MB/s]
100% 36.8M/36.8M [00:00<00:00, 110MB/s]
Archive:  ./datasets/kickstarter-projects/kickstarter-projects.zip
  inflating: ./datasets/kickstarter-projects/ks-projects-201612.csv
  inflating: ./datasets/kickstarter-projects/ks-projects-201801.csv

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 3 +1**) </span>

In [ ]:
# which question to answer - put your ID number and run the code 
your_id  = "204591424"
q = int(your_id) % 3 + 1
print("You need to answer question number %s" % q)

You need to answer question number 2

**Question 1:** On average which project category received the highest number of backers? (15 pt)

**Question 2:** On average which project category received the highest pledged USD? (15 pt)

In [ ]:
from pony.orm import *
# Creating a new database
db_ks = Database()
db_ks.bind(provider='sqlite', filename='/content/datasets/kickstarter-projects/kickstarter-project.pony.db', create_db=True)

class KickstarterProject(db_ks.Entity):
    name = Optional(str) 
    category = Required(str)
    main_category = Required(str)
    currency = Required(str)
    deadline = Required(str)
    goal = Required(float)
    launched = Required(str)
    pledged = Required(float)
    launched = Required(str)
    state = Required(str)
    backers = Required(int)
    country = Required(str)
    usd_pledged = Optional(float)
    usd_pledged_real = Required(float)
    usd_goal_real = Required(float)

show(KickstarterProject)
#set_sql_debug(True) # helps to see what SQL commands are running
db_ks.generate_mapping(create_tables=True) # create tables

class KickstarterProject(Entity):
    id = PrimaryKey(int, auto=True)
    name = Optional(str, default='')
    category = Required(str)
    main_category = Required(str)
    currency = Required(str)
    deadline = Required(str)
    goal = Required(float)
    pledged = Required(float)
    launched = Required(str)
    state = Required(str)
    backers = Required(int)
    country = Required(str)
    usd_pledged = Optional(float)
    usd_pledged_real = Required(float)
    usd_goal_real = Required(float)

In [ ]:
import pandas
import numpy as np

df = pandas.read_csv("./datasets/kickstarter-projects/ks-projects-201801.csv")
df['name'].fillna("", inplace=True)
df['usd pledged'].fillna(0.0, inplace=True)

for idx, row in df.iterrows():
    KickstarterProject(
            name=(row['name'] if not type(row['name']) is float else ""),
            category=row['category'],
            main_category=row['main_category'],
            currency=row['currency'],
            deadline=row['deadline'],
            goal=row['goal'],
            launched=row['launched'],
            pledged=row['pledged'],
            state=row['state'],
            backers=row['backers'],
            country=row['country'],
            usd_pledged=row['usd pledged'],
            usd_pledged_real=row['usd_pledged_real'],
            usd_goal_real=row['usd_goal_real'],
    )
commit()

In [ ]:
avg_lst = select((row.category, avg(row.usd_pledged)) for row in KickstarterProject)

# order the average list in desc order
desc_avg_lst = avg_lst.order_by(lambda x,y: desc(y)).limit(1)
list(desc_avg_lst)

[('3D Printing', 52027.158213762814)]

**Question 3:** In which month occurred the highest number of projects? (15 pt)

## 4. Oscars Datasets (10pt)

Using the [Oscars Dataset](https://www.kaggle.com/theacademy/academy-awards), please answer only one of the following questions (you can chose):

**Question 1:** Who is the male actress with the most Oscar nominees? (10pt)

In [ ]:
# download and unzip dataset
!kaggle datasets list -s academy-awards
!kaggle datasets download theacademy/academy-awards -p ./datasets/academy-awards/
!unzip ./datasets/academy-awards/academy-awards.zip -d ./datasets/academy-awards/

ref                                                              title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
datasets/theacademy/academy-awards                               The Academy Awards, 1927-2015                       185KB  2017-02-13 17:30:48           6760         89  0.7352941
datasets/fmejia21/demographics-of-academy-awards-oscars-winners  Demographics of Academy Awards (Oscars) Winners      20KB  2020-02-04 17:38:26           4132        141  0.9411765
datasets/unanimad/the-oscar-award                                The Oscar Award, 1927 - 2020                        191KB  2020-02-19 15:45:30           3612         95  1.0
datasets/dharmikdonga/academy-awards-dataset-oscars              Academy awards dataset (oscars)                     507KB  2021-05-11 14:33:52            502         10  0.88235295
datasets/madhurinani/oscars-2017-tweets                          2017 #Oscars Tweets                                  11MB  2017-03-17 19:50:40            408          8  0.7647059
datasets/unanimad/emmy-awards                                    Emmy Awards                                         904KB  2020-01-02 23:54:37            297          9  1.0
datasets/unanimad/bafta-awards                                   British Academy of Film and Television Arts Awards   74KB  2020-02-04 11:35:02            155          7  0.9411765
datasets/alexis333/academy-awards-cleanup                        Academy Awards Cleanup                              178KB  2019-03-25 18:19:58             61          2  0.5294118
Downloading academy-awards.zip to ./datasets/academy-awards
  0% 0.00/185k [00:00<?, ?B/s]
100% 185k/185k [00:00<00:00, 70.3MB/s]
Archive:  ./datasets/academy-awards/academy-awards.zip
  inflating: ./datasets/academy-awards/database.csv

In [ ]:
from pony.orm import *
import pandas

# Creating a new database
db = Database()
db.bind(provider='sqlite', filename='/content/datasets/academy-awards/academy-awards.pony.db', create_db=True)

class AcademyAward(db.Entity):
    Year = Required(str) 
    Ceremony = Required(int)
    Award = Required(str)
    Winner = Optional(float)
    Name = Required(str)
    Film = Optional(str)

show(AcademyAward)
#set_sql_debug(True)
db.generate_mapping(create_tables=True)

class AcademyAward(Entity):
    id = PrimaryKey(int, auto=True)
    Year = Required(str)
    Ceremony = Required(int)
    Award = Required(str)
    Winner = Optional(float)
    Name = Required(str)
    Film = Optional(str, default='')

In [ ]:
import pandas
import numpy as np

df = pandas.read_csv("./datasets/academy-awards/database.csv")
df['Winner'].fillna(0.0, inplace=True)

for idx, row in df.iterrows():
    AcademyAward(
            Year=row['Year'],
            Ceremony=row['Ceremony'],
            Award=row['Award'],
            Winner=row['Winner'],
            Name=row['Name'],
            Film=(row['Film'] if not type(row['Film']) is float else "")
    )
commit()

In [ ]:
top_award = select((a.Name, count(a)) for a in AcademyAward).where(lambda a: a.Award == 'Actor')
most_award_desc = top_award.order_by(lambda x,y: desc(y)).limit(1)
list(most_award_desc)

[('Spencer Tracy', 9)]

**Question 2:** Who is the female director with the most Oscar nominees? (10pt)

**Question 3:** Which top-10 movies received the highest number of Oscar nominees? (10pt)

**Question 4:** Write a function that receives an actor's name and returns the actor’s number of Oscar nominees. Use the function to calculate the number of times Leonardo DiCaprio was a nominee (10pt)

## 5. Select a Dataset (15pt)

**Open Question:** Select an interesting dataset and use SQL to discover something interesting (15pt). **Bonus:** Use BigQuery (2pt)

In [ ]:
!pip install kaggle
!mkdir /root/.kaggle/

import json
import os

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
api_token = {"username":"danasror","key":"bacf4386b2ae522ce21a4595b76005d6"}
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
kaggle: error: unrecognized arguments: Cost Personal Datasets

In [ ]:
# searching for the dataset
!kaggle datasets list -s medical

ref                                                                         title                                       size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------------------  -----------------------------------------  -----  -------------------  -------------  ---------  ---------------
datasets/mirichoi0218/insurance                                              Medical Cost Personal Datasets             16KB  2018-02-21 00:15:14         116103       1723  0.88235295
datasets/kmader/siim-medical-images                                         CT Medical Images                          250MB  2017-05-23 07:03:06          25776        680  0.7647059
datasets/tboyle10/medicaltranscriptions                                     Medical Transcriptions                       5MB  2018-10-15 17:44:11           4669        121  0.85294116
datasets/andrewmvd/medical-mnist                                            Medical MNIST                               85MB  2020-04-21 18:31:34           2182         58  0.875
datasets/joniarroba/noshowappointments                                      Medical Appointment No Shows                 2MB  2017-08-20 23:49:38          34444        846  0.7058824
datasets/tejashvi14/medical-insurance-premium-prediction                    Medical Insurance Premium Prediction         7KB  2021-08-04 05:48:58           1968         64  1.0
datasets/rajgupta2019/medical-insurance-dataset                             Medical Insurance dataset                   92KB  2021-12-19 17:23:15            762         24  0.8235294
datasets/chaitanyakck/medical-text                                          Medical Text                                12MB  2019-07-17 20:18:53            735         16  0.9375
datasets/kmader/figure-eight-medical-sentence-summary                       Figure Eight: Medical Sentence Summary       1MB  2018-05-14 07:51:02            781         33  0.7058824
datasets/paultimothymooney/medical-speech-transcription-and-intent          Medical Speech, Transcription, and Intent    5GB  2019-02-24 04:37:00           2145         86  0.7058824
datasets/fda/adverse-food-events                                            Adverse Food Events                          3MB  2017-09-07 19:34:07           3992        105  0.88235295
datasets/finalepoch/medical-ner                                             Medical NER                                 26KB  2020-03-28 13:00:07            775         10  0.625
datasets/karimnahas/medicaldata                                             Medical Data                                50KB  2017-11-04 17:57:53           1641         31  0.29411766
datasets/anshulmehtakaggl/200000-abstracts-for-seq-sentence-classification  200000 Medical Research Paper Abstracts    240MB  2022-01-14 06:29:29            174         33  0.9375
datasets/ymirsky/medical-deepfakes-lung-cancer                              Medical Deepfakes: Lung Cancer               6GB  2020-04-23 17:50:12           1369         26  0.7941176
datasets/gooogr/yolo-medical-mask-dataset                                   YOLO medical mask dataset                  157MB  2020-05-18 17:14:44            517         18  0.75
datasets/afflores/medical-appointment                                       Medical Appointment                        538KB  2017-12-17 17:27:08            519         11  0.5882353
datasets/dansbecker/hospital-readmissions                                   Medical Data and Hospital Readmissions     522KB  2018-09-13 17:46:50           2452         40  0.1764706
datasets/shashwatwork/bengali-medical-dataset                               Bengali Medical Dataset                     51KB  2021-05-09 16:18:39             68          7  0.9411765
datasets/jannalipenkova/covid19-public-media-dataset                        Covid-19 Public Media Dataset by Anacode   739MB  2021-01-14 17:35:23           1290         46  1.0

In [ ]:
!mkdir ./datasets/insurance

In [ ]:
!kaggle datasets download -d mirichoi0218/insurance -p ./datasets/insurance/

!unzip ./datasets/insurance/insurance.zip -d ./datasets/insurance/

Downloading insurance.zip to ./datasets/insurance
  0% 0.00/16.0k [00:00<?, ?B/s]
100% 16.0k/16.0k [00:00<00:00, 14.4MB/s]
Archive:  ./datasets/insurance/insurance.zip
  inflating: ./datasets/insurance/insurance.csv

In [ ]:
import sqlite3
import pandas as pd

%matplotlib inline
CSV_PATH = './datasets/insurance/insurance.csv'

# Create the dataframe
df = pd.read_csv(CSV_PATH)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
!pip install pony

Requirement already satisfied: pony in /usr/local/lib/python3.7/dist-packages (0.7.16)

In [24]:
from pony.orm import *

# Creating a new database
db = Database()
db.bind(provider='sqlite', filename='/content/datasets/insurance/insurance.csv.pony.db', create_db=True)

class Insurance(db.Entity):
    Age = Optional(int)
    Sex = Optional(str)
    Bmi = Optional(float)
    Smoker = Optional(str)
    Region = Optional(str)
    Charges = Required(float)
    
     
#set_sql_debug(True) # helps to see what SQL commands are running
db.generate_mapping(create_tables=True) # create tables

In [25]:
# use the Pandas package to insert data into these table:
import pandas
import numpy as np

# pandas can find csv inside the zip itself
df = df.replace(np.nan, '', regex=True)

for idx, row in df.iterrows():
    Insurance(
            Age=row['age'],
            Sex=row['sex'],
            Bmi=row['bmi'],
            Smoker=row['smoker'],
            Region=row['region'],
            Charges=row['charges'],
    )
show(Insurance)
commit()

class Insurance(Entity):
    id = PrimaryKey(int, auto=True)
    Age = Optional(int)
    Sex = Optional(str, default='')
    Bmi = Optional(float)
    Smoker = Optional(str, default='')
    Region = Optional(str, default='')
    Charges = Required(float)

In [26]:
# number_of_male_smoker
lst = list(select(row for row in Insurance if (row.Sex  == 'male' and row.Smoker == 'yes')))
print(len(lst))

159

In [27]:
# number_of_female_smoker
lst = list(select(row for row in Insurance if (row.Sex  == 'female' and row.Smoker == 'yes')))
print(len(lst))

115